In [1]:
import pandas as pd

#### Series

In [2]:
# use list / tuple to create a series
# 1D data structure 
# it cant handle mixed data types
# Series(Values, index, dtype)

In [3]:
sr1 = pd.Series([10,20,30,40,50]) # default index will be created by 0,1,2,... 
sr1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [18]:
sr1.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
type(sr1) # will return data structure of the word sr1 { list/ tuple/int/array...}

pandas.core.series.Series

In [ ]:
# numbers : int/float ; strings: object

In [11]:
sr1[3]

40

In [12]:
sr2 = pd.Series([10,20,30,40,50], index = ['a','b','c','d','e'], dtype = float)
sr2

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
dtype: float64

In [17]:
print(sr2['c'])

30.0

In [14]:
sr2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [15]:
sr2.values

array([10., 20., 30., 40., 50.])

In [16]:
sr2.dtype

dtype('float64')

#### DataFrame

In [ ]:
# 2D data structure 
# an easy way to create data frame is to combine multiple columns 
# each column of data can be list / tuple/ 1D Array/ Series

In [19]:
dict1 = {
    'col1': [10,20,30],
    'col2': pd.Series(['a','b','c'])
}
df1 = pd.DataFrame(dict1)
df1

   col1 col2
0    10    a
1    20    b
2    30    c

In [22]:
output = df1.dtypes # it returns data types of each column
output

col1     int64
col2    object
dtype: object

In [23]:
type(output)

pandas.core.series.Series

In [24]:
output.index

Index(['col1', 'col2'], dtype='object')

In [25]:
output.values

array([dtype('int64'), dtype('O')], dtype=object)

In [26]:
output.dtype

dtype('O')

In [31]:
list1 = [10,'a']
list2 = [20,'b']

In [32]:
import numpy as np
ar1 = np.array([list1,list2])
ar1 # U --> string

array([['10', 'a'],
       ['20', 'b']], dtype='<U21')

In [33]:
pd.DataFrame(ar1)

    0  1
0  10  a
1  20  b

In [40]:
df2 = pd.DataFrame([list1,list2], columns = ['col1','col2'], index = ['a','b'])
df2

   col1 col2
a    10    a
b    20    b

In [41]:
df2.dtypes

col1     int64
col2    object
dtype: object

In [42]:
pwd # present working directory

'/Users/trainer/26-08-2025_9pm'

In [43]:
import os
os.getcwd() # get current working directory
# C/ Users/ batman

'/Users/trainer/26-08-2025_9pm'

In [ ]:
# the folder where pandas-1.ipynb exists
# Now paste the file auto.csv in above folder

In [45]:
df1 = pd.read_csv('Auto.csv')
df1.head()

,mpg,cylinders,displacement,Horse Power,weight,acceleration,year,origin,name
0,18.0,8.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8.0,350.0,165,3693,11.5,70,1,buick skylark 320
2,NaN,8.0,318.0,150,3436,11.0,70,1,plymouth satellite
3,NaN,8.0,NaN,150,3433,12.0,70,1,amc rebel sst
4,NaN,8.0,NaN,140,3449,10.5,70,1,ford torino